/* Common styles  */
@import url("https://fonts.googleapis.com/css2?family=Bellota+Text:wght@300;400;700&family=Monoton&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  outline: none;
  font-family: "Bellota Text", cursive;
  font-weight: 400;
}

/* By default 1rem == 16px  */
html {
  font-size: 62.5%; /* now 1rem == 10px */
}
/* End of Common styles  */
